@model Interapp.Web.Areas.Student.ViewModels.Applications.ApplicationInputViewModel

<div class="alert alert-danger">
    @Html.ValidationSummary()
</div>

@{Html.RenderAction("ApplicationForm", "Universities", new { id = Model.UniversityId });}