@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<hr />
<h3>If you are a student you can:</h3>
<ul>
    <li>Fill in scores report</li>
    <li>Enter your essay</li>
    <li>Upload necessary documents</li>
    <li>Apply for universities</li>
    <li>Track requirements for universities</li>
    <li>See responses from universities</li>
</ul>
<h3>If you are a director of university you can</h3>
<ul>
    <li>Add new university</li>
    <li>Add requirements for university</li>
    <li>Review applications for your universities</li>
    <li>Respond to applications</li>
</ul>
<br />
<h4>If you have any questions, contact us at: contact@interapp.com</h4>