@{
    ViewBag.Title = "Home";
}

<div class="text-center jumbotron">
    <h1>Welcome to Interapp</h1>
    <h3>Where the whole process of applying to university takes place.</h3>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h4>If you are not a user, please log in to get started!</h4>
    </div>
</div>