@{
    ViewBag.Title = "Unauthorized";
}

<h2>You are not authorized for this action.</h2>
<hr />
<h3>Please return to @Html.ActionLink("Dashboard", "", "Dashboard", null, new { @class = "btn btn-primary" })</h3>

