@{
    ViewBag.Title = "Deleted";
}

<h2>Your essay has been successfully deleted</h2>
<hr />
<h4>From here you can go to</h4>
@Html.ActionLink("Your Dashboard", "Info", "Dashboard", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-success" })

