@model Interapp.Web.Areas.Student.Models.Shared.DetailsInformationViewModel
@{
    ViewBag.Title = "University details";
}

<h2>Application details for @Model.University.Name</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        @Html.Partial("_UniversityInfo")
    </div>
    <div class="col-md-6">
        @Html.Partial("_StudentInfo")
    </div>
</div>